@model BBlog.Models.Blog

<div>
    <article>
        <h2>@Model.Title</h2>
        <p class="subinfo">
            <i class="glyphicon glyphicon-calendar"></i>
            <span class="inline-space">@Model.PostDate.ToString("MMM dd, yyyy")</span>
            <i class="glyphicon glyphicon-folder-open"></i>
            <span class="inline-space"><em>@Model.Category</em></span>
            @if (Model.Tags != null)
            {
                <i class="glyphicon glyphicon-tags"></i>
                <span class="inline-space">@Model.Tags</span>
            }
        </p>
        <br />
        <div>
            @Html.Raw(Model.Body)
        </div>
    </article>
    <div class="share-buttons">
        <div style="text-align: center; font-size: 18px; font-family: 'trebuchet ms', geneva;">Share this article</div>
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-default"><img src="~/images/facebook.png" /></button>
            <button type="button" class="btn btn-default"><img src="~/images/linkedin.png" /></button>
            <button type="button" class="btn btn-default"><img src="~/images/gplus.png" /></button>
            <button type="button" class="btn btn-default"><img src="~/images/twitter.png" /></button>
        </div>
    </div>
</div>